#support_atm_popup {
	border:2px solid #ea4e1b;
	height:120px;
	width:500px;
	position:fixed;
	bottom:90px;
	right:-480px;
	background: white;
	font-size : 13px;
}
#support_atm_popup div.content {
	position:absolute;
	top : 10px;
	left:30px;
	line-height: 25px;
}
#support_atm_popup div.header {
	margin:20px 0 0 20px;
	transform: rotate(90deg);
	transform-origin: left top 0;
	display:block; 
	width:90px;
	white-space:nowrap; 
	padding-bottom:10px;
	
	color:#01354d;
	font-family:Arial;
	font-size : 13px;
	font-weight: bolder;
}
